body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    font-size: 2rem;
    font-family: 'Ariel', sans-serif;
    padding-top: 3%;
    padding-bottom: 3%;
}

input {
    border: 0;
    background: transparent;
}

textarea:focus, input:focus{
    outline: none;
}

.parent-container {
    width : 95%;
    height : 95%;
}

.equation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    margin-top: -3px;
    padding-left: 2%;
    padding-right: 2%;
}

.equation-container:focus-within {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: #40A7E9;
    z-index: 100;
}

.input {
    width: 60%;
    height : 100%;
    overflow: scroll;
    font-size: inherit;
    padding-right: 3rem;
}

.output {
    width: 25%;
    height : 100%;
    white-space: nowrap;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-size: inherit;
}

.button-container {
    width: 15%;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}

.toggle-btn {
    flex: 1;
    padding:  10px;
    border: none;
    background-color: #eee;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
}

.toggle-btn:hover {
    background-color: #ddd;
}

.toggle-btn.active {
    background-color: #007bff;
    color: white;
}

.toggle-btn:not(:last-child) {
    border-right: 1px solid #ccc;
}